{% extends 'layout.html' %} {% load static %}

<!-- CSS -->
{% block css_files %}
<link rel="stylesheet" href="{% static 'blog/project-post.css' %}" />
{% endblock %}
<!-- Page title -->
{% block page_title %} HiveComb: {{post.title}} {% endblock %}
<!-- Page content -->
{% block page_content %}
<!-- Header -->
{% comment %} {% include "challenges/includes/header.html" %} {% endcomment %}
<h1>Specific Post: {{slug}}</h1>
<section id="summary">
  <h2>{{project.title}}</h2>
  <div>
    {% for tag in project_tags %}
    <!-- caption -->
    <span class="tag"> {{tag.caption}} </span>
    {% endfor %}
  </div>
  <article>
    <img
      src="{% static 'blog/images/'|add:project.image_name %}"
      alt="{{project.title}}"
    />
    <address>
      By <a href="mailto:{{project.author.email}}">{{project.author}}</a>
    </address>
    <div>Last updated on <time>{{ project.date|date:"d M y" }}</time></div>
  </article>
</section>
<main>{{project.content|linebreaks}}</main>
{% endblock %}
